<h1>Competitions</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Caption</th>
            <th>League</th>
            <th>Number Of Games</th>
            <th>Number Of Matchdays</th>
            <th>Number Of Teams</th>
        </tr>
    </thead>
    <tbody class="competition">
        <tr *ngFor="let comp of _competitions"  [routerLink]="['/standings', comp.id]">
                <td>{{comp.caption}}</td>
                <td>{{comp.league}}</td>
                <td>{{comp.numberOfGames}}</td>
                <td>{{comp.numberOfMatchdays}}</td>
                <td>{{comp.numberOfTeams}}</td>
        </tr>
    </tbody>
</table>