<h1>Teams</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Short Name</th>
            <th>Full Name</th>
            <th>Market Value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of _teams">
                <td>
                  <span style="float: left;width: 20%;">
                    <img class="media-object thumbnail" [src]="team.crestUrl" alt="">
                  </span>
                  {{team.code}}
                </td>
                <td>{{team.shortName}}</td>
                <td>{{team.name}}</td>
                <td>{{team.squadMarketValue}}</td>
        </tr>
    </tbody>
</table>